.feed {
    // border: 2px solid teal;
    height: 100vh;

    .content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        // border: 2px solid red;
        overflow: hidden;


        .left {
            flex: 2;
            overflow-y: auto;
        }

        .left::-webkit-scrollbar {
            display: none;
        }

        .right {
            flex: 1;
            margin-top: 20px;
            // border: 2px solid red;
            height: 290px;

            .followings {
                border: 1px solid var(--border-color);
                width: 65%;
                overflow-y: auto;
                height: 100%;
                margin-bottom: 10px;
                border-radius: 5px;

                &::-webkit-scrollbar {
                    display: none;
                }

                .title {
                    border-bottom: 1px solid var(--border-color);
                    padding: 12px;

                }
            }

            .suggestions {
                border: 1px solid var(--border-color);
                border-radius: 5px;
                width: 65%;
                height: 100%;
                // padding: 12px;

                .title {
                    border-bottom: 1px solid var(--border-color);
                    padding: 12px;

                }
            }
        }
    }
}