.search-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(204, 204, 204);

    .profile-icon {
        flex: 2;
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .name {
        flex: 4;
        // border: 2px solid red;
        text-align: center;

    }
}