.post {
    border: 1px solid var(--border-color);
    // border: 2px solid red;
    width: 70%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;

    .heading {
        gap: 20px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        height: 60px;

        border-bottom: 1px solid var(--border-color);
        cursor: pointer;

        .profile-icon {
            height: 60px;
        }
    }

    .mid {
        height: 350px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer {

        padding: 10px;

        .like {
            display: flex;
            gap: 10px;
            align-items: center;
            // border: 2px solid red;

            .icon {
                font-size: 24px;
            }
        }

        .profile-info {
            .caption {
                margin-top: 12px;
            }

            .comment-box {
                #myBtn {
                    background: transparent;
                    // border: 2px solid sienna;
                    border: none;
                    margin-top: 6px;
                    font-size: 15px;
                    cursor: pointer;
                    color: #888888;
                }

                .popup {
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    background-color: rgba(0, 0, 0, 0.4);
                    display: none;
                }

                .popup-content {
                    background-color: white;
                    margin: 10% auto;
                    padding: 12px;
                    border: 1px solid #888888;
                    width: 30%;
                    font-weight: bolder;
                    // border: 2px solid red;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column-reverse;


                    .all-comments {
                        // border: 2px solid red;
                        // width: 100%;
                    }

                    .add-comment {
                        margin-top: 50px;
                        margin-bottom: 50px;
                        justify-content: center;
                        // border: 2px solid black;
                        display: flex;
                        flex-direction: row-reverse;

                        input {
                            width: 70%;
                        }
                    }
                }

                .popup-content button {
                    display: block;
                    margin: 0 auto;
                }

                .show {
                    display: block;
                }

                h1 {
                    color: green;
                }
            }

            .time-ago {
                margin-top: 12px;
                color: #aaa;
            }
        }
    }
}