.followers {
    // border: 2px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
    cursor: pointer;

    .follow-link {
        background-color: var(--accent-color);
        color: white;
        padding: 6px 12px;
        font-size: 18px;
        border-radius: 5px;
    }
}