.avatar {
    height: 60px;

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 40px;
            width: 40px;
            border: 2px solid var(--border-color);
            border-radius: 50%;
        }
    }
}